*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

path.react-flow__edge-path {
  stroke-width: 3;
  stroke:rgba(0,0,0,0.5)
  
}

.modal_design_back{
  display: flex;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: rgba(0,0,0,0.5);
    top: 0px;
    justify-content: center;
    align-items: center;
}


.modal{
  background:white;
  /* width:50vw; */
  /* height:300pt; */
  border-radius: 5pt;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.btn{
  background:none;
  outline: none;
  padding:5pt;
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 4pt;
  color: rgba(0,0,0,0.8);
  /* position:absolute; */
  /* bottom: 10px; */
  /* right: 10px; */
  cursor: pointer;
  text-align: center;
  width: 50pt;
  z-index: 1;
  width:200pt;
  margin-right: 10pt;
}

.btn:hover{
  border: 1px solid #40A9FF;
  color:#40A9FF
}

.modal_ip{
  padding: 10pt;
  width: 50%;
  margin: 10pt;
  border-radius: 5pt;
  outline: none;
  border: 1px solid rgba(0,0,0,0.3);

}

.modal-title{
  font-family: sans-serif;
  font-size:13px;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding:10pt;
  margin-bottom: 20pt;
}


.split-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove_btn{
  border: 0px;
}

.flow_chart_parent{
  height: 100%;width: 98%;margin: auto;
  border: 1px solid;
}